.episodes {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 40px;

  &__title {
    margin: 40px;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    background-color: black;
    text-shadow: 1px 1px 15px yellow, 0 0 1em red;
  }

  &__table {
    width: 60vw;
    border-collapse: collapse;
    margin-top: 40px;
    font-size: 1.5rem;
    border-radius: 10px;
    color: #24325fff;
    background-color: #b7e4f9ff;
    transition: 0.4s;
  }

  &__table-column {
    padding: 15px;
    text-align: left;
    border: 1px solid lightblue;
  }

  &__table-head-column {
    padding: 15px;
    font-size: 2rem;
    text-align: left;
    border: 1px solid lightblue;
  }

  &__table-head-row {
    background-color: #69c8ecff;
  }

  &__pagination {
    margin-top: 40px;
  }

  &__filters {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__label {
    font-size: 1.6rem;
  }

  &__input {
    margin-top: 15px;
    padding: 5px;
    width: 160px;
    height: 25px;
    font-size: 1.5rem;
    background-color: #b7e4f9ff;
    border: 5px solid #69c8ecff;
    border-radius: 10px;

    &--error {
      box-shadow: 0 0 14px 3px red;
    }

    &:active {
      outline: none;
    }

    &:focus {
      outline: none;
    }
  }

  &__error {
    position: absolute;
    left: 30px;
    top: 80px;

    margin-top: 5px;
    color: red;
    font-size: 1.2rem;
  }
}
